.intro {
  padding: 170px 46px;
  background-image: url('../img/blocks_bg/molecule.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  font-weight: 300;
  font-size: 25px;
  color: #3F3F3F;

  @include block_991 {
    background-image: none;
    padding: 80px 0 80px;
  }
}

.intro__content {
  max-width: 797px;
}

.intro__active {
  font-weight: 700;
}

.articles {
  margin-top: 80px;
}

.articles__row {
  @include block_991 {
    gap: 20px;
  }
}

.articles-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;

  img {
    height: 298px;
    object-fit: cover;

    @include block_991 {
      width: 100%;
    }
  }
}

.articles-item__body {
  flex: 1;
  padding: 32px 26px;
  border: 1px solid $light_400;
  border-top: none;
  border-radius: 0 0 6px 6px;
  color: #000000;
}

.articles-item__title {
  margin-bottom: 9px;
  font-weight: normal;
  font-size: 25px;
}

.articles-item__subtitle {
  font-size: $text_base;
}

.banner {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 96px;
  padding: 160px;
  border-radius: 6px;
  background-image: url('../img/blocks_bg/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  row-gap: 24px;

  @include block_991 {
    padding: 80px;
  }

  @include block_767 {
    padding: 40px;
  }

  @include block_480 {
    padding: 20px;
    row-gap: 20px;
  }


}

.banner__title {
  font-size: 25px;

  @include block_767 {
    font-size: 21px;
  }
}

.banner__subtitle {
  font-size: 18px;
  max-width: 755px;
  margin-left: auto;
  margin-right: auto;

  @include block_767 {
    font-size: $text_base;
  }

  a {
    color: #00D1FF;
    border-bottom: 1px solid #00D1FF;
  }
}

.news {
  margin-top: 112px;
}

.news__row {
  margin-top: 28px;
}

.news-item__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 22px;
}

.news-item__date {
  font-family: $roboto;
  display: inline-block;
  margin-bottom: 9px;
  font-size: $text_base;
  color: $light_500;
}

.news-item__link {
  display: flex;
  width: max-content;
  color: #00D1FF;
  margin-top: 15px;

  .icon {
    margin-left: 11px;
  }
}