@import 'mixins';
@import "variables";

@import "reset";
@import 'normalize';
@import 'custom-grid';
@import "fonts";
@import 'icons';
@import 'buttons';

@import 'swiper-bundle.min.scss';

@import "blocks/header";
@import "blocks/footer";
@import "blocks/subscribe";
@import "blocks/more-product";
@import 'blocks/breadcrumbs';
@import 'blocks/try';
@import 'swiper-config';

@import 'home';
@import 'news-page';
@import 'blog-page';
@import 'products-page';
@import 'products-open';
@import 'news-open';
@import 'blog-open';
@import 'about';
@import 'contact';

body {
  font-family: $basic_family;

  &.hidden {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 1.25;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.title {
  position: relative;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  color: $black_500;
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(90deg, #AFF1D1 0%, #0085FF 97.34%);
  }
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin-top: 28px;
}

.w-1\/2 {
  width: 50%;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}