.news-page {
  padding-top: 118px;
}

.news-page__row {

  &>*:nth-child(n+3) {
    margin-top: 32px;
  }

  @include block_991 {

    &>*,
    &>*:nth-child(n+3) {
      margin-top: 20px;
    }

  }
}

.news-page__title {
  padding-left: 58px;
  padding-right: 58px;
}

.news-page__row {
  margin-top: 48px;
}

.news-page-item {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 100px 213px rgba(0, 0, 0, 0.07), 0px 22.3363px 47.5763px rgba(0, 0, 0, 0.0183957), 0px 6.6501px 14.1647px rgba(0, 0, 0, 0.0146149);
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;

  }

}

.news-page-item--large {
  flex-direction: row;

  @include block_767 {
    flex-direction: column;

    .w-1\/2 {
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }


}

.news-page-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px;
  color: $black_500;
}

.news-page-item__date {
  display: inline-block;
  font-family: $roboto;
}

.news-page-item__title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 8px;
}

.news-page-item__subtitle {
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: $text_base;
  font-weight: 300;
}

.news-page-item__content--large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  color: $black_500;

  @include block_767 {
    padding: 16px 24px;
  }

  .news-page-item__title {
    margin-top: 16px;
  }
}

.news-page-item__link {
  display: flex;
  width: max-content;
  font-size: $text_base;
  color: #096394;

  &:hover {
    .icon {
      margin-left: 20px;
    }
  }

  .icon {
    transition: all 0.3s;
    margin-left: 8px;
    background-image: url('../img/svg/arrow-right-dark.svg');
  }
}

.news-page-item__content--large {
  border: 1px solid $light_400;
  border-left-width: 0;
  border-radius: 0 6px 6px 0;
}

.news-page-item__img--large {
  width: 50%;
}