* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent
}

button {
    -webkit-tap-highlight-color: transparent
}

ul {
    list-style-type: none;
}