.more-product {
  margin-top: 80px;
}

.more-product__row {
  margin-top: 48px;
  row-gap: 20px;

  @include block_991 {
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.more-product-item {
  padding: 12% 44px 40px;
  border-radius: 6px;
  height: 320px;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;

  @include block_1440 {
    height: 350px;
  }

  @include block_1199 {
    padding-top: 18%;
    height: 370px;
  }

  @include block_991 {
    padding: 36px 16px;
    min-width: 540px;
    height: 100%;
  }

  @include block_767 {
    min-width: 440px;
  }

  @include block_575 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: calc(100vw - 66px);
  }

  &:hover {
    padding-top: 40px;

    @include block_991 {
      padding-top: 36px;
    }

    .hero-links {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .hero-links {
    opacity: 0;
    visibility: hidden;
    margin-top: 28px;
    transition: all 0.3s;
    transform: translateY(50px);

    @include block_991 {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      flex-direction: column;
      row-gap: 15px;
    }
  }
}

.more-product__badge {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 20px;
  color: $green_400;
  background-color: #00223F;
}

.more-product-item__title {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
}

.more-product-item__subtitle {
  margin-top: 32px;
  font-size: 18px;

  @include block_991 {
    margin-top: 24px;
    font-size: $text_base;
  }
}