.try {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 98px 48px 48px;
  margin-top: 32px;
  background-color: #0F5357;
  background-image: linear-gradient(360deg, #0F2840 0%, rgba(15, 40, 64, 0.609375) 57.29%, rgba(15, 40, 64, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 6px;

  @include block_991 {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    row-gap: 20px;
  }

  .mint-btn {
    font-weight: 400;
  }

  color: #FFFFFF;
}

.try__title {
  font-weight: bold;
  font-size: 28px;
}

.try__subtitle {
  font-size: 20px;
  letter-spacing: 0.005em;
  margin-top: 6px;
}

.try__text {
  width: 382px;
  max-width: 100%;
}